<!DOCTYPE html>
<html>
<head>
  <title>SugoiHttpTesterRails</title>
  <%= javascript_include_tag "sugoi_http_tester_rails/application" %>
  <%= stylesheet_link_tag    "sugoi_http_tester_rails/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
